@import "tailwindcss";

:root {
  --background: #f1f7f6;
  --foreground: #171717;
  --font-montserrat: 'Montserrat', sans-serif;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f7f6;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}
